<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="https://media.istockphoto.com/photos/ask-quiestion-online-what-where-when-how-and-why-search-information-picture-id1061345628"
                alt="..." width="2000" 
                height="500">
            <div class="carousel-caption d-none d-md-block" >
                <body style="background-color:powderblue;">
                <h2>Welcome to Online Quiz Application!</h2>
                <p>Best Application for Quiz</p></body>

                
                
            </div>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row">
        <div class="col-sm-10">
            <div class="col d-flex justify-content-center" >
                <div class="card" style="width: 28rem;">
                    <img class="card-img-top" src="https://img.icons8.com/color/96/000000/angularjs.png" height="200"
                        weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Angular</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!.
                        </p>
                      
                        <a href="" class="col d-flex justify-content-center" routerLink="/angularquestion">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="bg-dark text-center text-lg-start mt-5">
            <!-- Copyright -->
            <div class="text-center p-3 text-light fw-bold">
                © 2022 Copyright:
                <a class="text-light fw-bold" routerLink="/">Online Quiz Application</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
</div>