 <div class="container bg-light py-5">
    <h1 class="diplay-5 fw-bold">Welcome To Coding Quiz</h1>
    <p class="col-md-8 fs-4">This quiz will contin total 10 question. Each Question hold 1 Points</p>
    <h4>Test Rules</h4>
    <ol>
        <li>Correct Question Gives you 1 Point</li>
        <li>InCorrect Question Gives you -1 Point</li>
        <li>You will have 10sec to answer each question</li>
        <li>Reefreshin the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">All The Best!!</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card-body text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://img.icons8.com/color/96/000000/angularjs.png" height="200"
                        weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Angular</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!. 
                        </p>
                        <a href="" class="btn btn-primary text-center" routerLink="/angularquestion">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-body text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://w7.pngwing.com/pngs/390/229/png-transparent-logo-html5-brand-design-text-logo-number.png"
                        height="200" weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">HTML</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!.
                        </p>
                        
                        <a href="" class="btn btn-primary text-center" routerLink="/htmlquestion">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-body text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVCDNjQep0hKOfa5m8-rasoOSdfhwNZCE09g&usqp=CAU"
                        height="200" weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Java Script</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!.
                        </p>
                        <a href="" class="btn btn-primary text-center">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
